:root {
  --white: #fff;
  --semi-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semi-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/1.6em "Open Sans", sans-serif;
  color: #2a2626;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: Neucha, cursive;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

header > div > div:nth-child(2) {
  margin-top: 185px;
}

.details {
  display: inline-block;
  padding: 12px 24px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--main);
}

main > section:first-child h2 {
  margin-bottom: 30px;
}

iframe {
  margin-bottom: -200px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

footer {
  background-color: var(--dark);
}

#navigation {
  background-color: var(--dark);
  padding-top: 100px;
}

#navigation > .wrapper > div {
  display: flex;
  column-gap: 30px;
}

#navigation > .wrapper > div:first-child {
  margin-bottom: 20px;
}

#navigation h2 {
  font-size: 52px;
  color: var(--white);
  flex: 1 1 30%;
}

#navigation a {
  display: block;
  flex: 1 1 30%;
  padding: 24px;
  background-color: var(--white);
}

.number {
  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
  margin-bottom: 40px;
}

/* ------------------------------------------------ */

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrapper {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.txt {
  display: flex;
  column-gap: 30px;
}

.txt > * {
  flex-basis: 50%;
}

.center {
  text-align: center;
}

/* ---------------------------------------------- */

.orange {
  color: var(--main);
}

.back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-white);
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}
