:root {
  --white: #fff;
  --semi-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semi-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

html,
body,
button,
input,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: 16px/1.6em "Open Sans", sans-serif;
  color: var(--dark);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: Neucha, cursive;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-family: 14px/17px "Open Sans", sans-serif;
  font-weight: bold;
  color: var(--white);
  background-color: var(--brown);
  text-transform: uppercase;
  margin: 100px 0 20px;
  padding: 0 10px;
}

header {
  overflow: hidden;
}

header img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

header > div > div:nth-child(2) {
  margin-top: 185px;
}

.details {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 40px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--main);
}

main > section:first-child h2 {
  margin-bottom: 30px;
}

iframe {
  margin-bottom: -200px;
}

#navigation {
  background-color: var(--dark);
  padding-top: 100px;
}

#navigation > .wrapper > div {
  display: flex;
  column-gap: 30px;
}

#navigation > .wrapper > div:first-child {
  margin-bottom: 20px;
}

#navigation h2 {
  font-size: 52px;
  color: var(--white);
  flex: 1 1 30%;
  box-sizing: border-box;
}

#navigation a {
  display: block;
  flex: 1 1 30%;
  padding: 24px;
  background-color: var(--white);
  box-sizing: border-box;
  transition: 1s;
}

#navigation a:hover {
  color: var(--white);
  background-color: var(--main);
}

#navigation a:hover h3 {
  color: var(--white);
}

.number {
  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
  margin-bottom: 40px;
}

.distortion-top {
  display: flex;
  column-gap: 30px;
}

.distortion-top img {
  vertical-align: middle;
  background-color: var(--white);
}

.cognitive {
  font: 24px/29px Neucha, cursive;
  color: var(--semi-dark);
  margin: 0;
}

.distortion-title p:last-child {
  font: 34px/41px Neucha, cursive;
}

.subscription {
  display: flex;
  column-gap: 20px;
  align-items: center;
  height: 190px;
  padding: 0 55px;
  background-color: var(--main-dark);
  color: var(--white);
}

.subscription > * {
  flex-grow: 1;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
}

input {
  flex-grow: 1;
  padding: 15px;
}

button {
  position: relative;
  width: 70px;
  height: 50px;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main);
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.subscription p:last-child {
  font-size: 12px;
}

.subscription a {
  text-decoration: underline;
}

.contacts {
  margin-top: 60px;
}

.contacts p {
  font-size: 14px;
  text-align: center;
}

.contacts a {
  color: var(--blue);
  text-decoration: underline;
}

/* ------------------------------------------------ */

.wrapper {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.back {
  position: relative;
}

.txt {
  display: flex;
  column-gap: 30px;
}

.txt > * {
  flex-basis: 50%;
}

.center {
  text-align: center;
}

/* ---------------------------------------------- */

.orange {
  color: var(--main);
}

.back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-white);
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.section-dark {
  color: var(--white);
  background-color: var(--brown);
}

.section-dark h4 {
  color: var(--brown);
  background-color: var(--white);
}

.section-dark .cognitive {
  color: var(--semi-white);
}
