@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:wght@400;700&display=swap");

:root {
  --white: #fff;
  --semi-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semi-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

html,
body,
button,
input,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;

  border: 0;
}

a {
  color: inherit;

  text-decoration: none;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.overflow {
  overflow: hidden;
}

.back {
  position: relative;
}

.back::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-title {
  font-weight: normal;
  font-size: 72px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.orange {
  color: var(--main);
}

.img-position {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.txt {
  column-count: 2;
  column-gap: 30px;
}

.txt p {
  break-inside: avoid;
}

.mt-185 {
  margin-top: 185px;
}

.details {
  position: relative;

  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;

  text-transform: uppercase;

  background-color: var(--main);
}

.videoplayer {
  text-align: center;
}

.mb-30 {
  margin-bottom: 30px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.section-title {
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 60px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.mb-200 {
  margin-bottom: -200px;
}

.back-main-dark {
  background-color: var(--main-dark);
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
  row-gap: 20px;

  column-gap: 30px;
}

.flex-wrap > * {
  flex: 1 1 30%;
  box-sizing: border-box;
}

.pt-100 {
  padding-top: 100px;
}

.navigation-title {
  margin-bottom: 0;

  color: var(--white);
  font-size: 52px;
}

.card {
  display: block;
  padding: 24px;

  background-color: var(--light);

  transition: 1s;
}

.card:hover {
  color: var(--white);

  background-color: var(--main);
}

.number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
}

.card-title {
  margin-bottom: 16px;

  color: var(--main);
  font-weight: normal;
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.card:hover .card-title {
  color: var(--white);
}

.distortion-top {
  column-gap: 30px;
}

.distortion-image {
  vertical-align: middle;
}

.cognitive {
  color: var(--semi-dark);
  font-size: 24px;
  font-family: Neucha, cursive;
  line-height: 29px;
}

.distortion-short {
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 41px;
}

.distortion-description {
  margin: 100px 0 20px;
  padding: 5px 10px;

  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 17px;

  text-transform: uppercase;

  background-color: var(--brown);
}

.back-brown {
  background-color: var(--brown);
}

.white-text {
  color: var(--white);
}

.semi-white-text {
  color: var(--semi-white);
}

.back-light {
  background-color: var(--light);
}

.brown-text {
  color: var(--brown);
}

.subscription {
  align-items: center;
  height: 190px;
  padding: 0 55px;

  column-gap: 20px;
}

.subscription > * {
  flex: 1 1 50%;
}

.subscription-title {
  font-weight: normal;
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.mt-10 {
  margin-top: 10px;
}

.text-field {
  flex-grow: 1;
  padding: 15px;
}

.submit {
  position: relative;

  width: 70px;
  height: 50px;
}

.submit::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--main);
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-position: center;

  content: "";
}

.small-text {
  font-size: 12px;
}

.underline {
  text-decoration: underline;
}

.contacts {
  margin-top: 60px;
}

.contacts p {
  margin-top: 16px;

  font-size: 14px;

  text-align: center;
}

.blue-text {
  color: var(--blue);
}
